{% extends 'base.html.twig' %}

{% block body %}
    <h1>Triggertask</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ triggerTask.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ triggerTask.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ triggerTask.description }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ triggerTask.state }}</td>
            </tr>
            <tr>
                <th>Dayofweek</th>
                <td>{{ triggerTask.dayofweek }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('triggertask_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('triggertask_edit', { 'id': triggerTask.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
